html, body {
    height: 100%;
    margin: 0;
}

.mainWrapper  {
    background-color: #28282B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    object-fit: cover;
    width: 400px;
}

.homeText {
    color: white;
    max-width: 500px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Console', Monaco, monospace;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signInButton {
    background-color: #A2DB93;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Console', Monaco, monospace;
    cursor: pointer;
}

.registerButton {
    background-color: black;
    color: #A2DB93;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Console', Monaco, monospace;
    cursor: pointer;
}